a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


/* infinite Scroll */
#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 300px;
}

.loader {
text-align: center;
border: 5px solid #f3f3f3;
border-top: 5px solid #3498db;
border-radius: 50%;
width: 40px;
height: 40px;
animation: spin 2s linear infinite;
margin: 0 auto;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}